DATABASE_URL=postgresql+psycopg2://paddockar:paddockar_pass@127.0.0.1:5433/paddockar
PORT=8000
LOG_LEVEL=INFO
ADMIN_USERNAME=soquetonadmin
ADMIN_PASSWORD=123456781
ADMIN_TOKEN_SECRET=change-this-secret
